[Unit]
Description=Gunicorn instance to serve abad
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/abad
Environment="PATH=/usr/bin/:/sbin/:/bin:/var/www/abad/env/bin"
Environment="FLASK_ENV={{ server }}"
ExecStart=/var/www/abad/env/bin/gunicorn --workers 2 --bind 0.0.0.0:{{server_port}} -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
